/* hyalineskies plugin documentation template */

body {

	margin: 0; padding: 0;
	
	background: #272727 url(images/bg_gradient.gif) top left repeat-x;
	color: #E5E4E4;
	font: 10px Helvetica, Arial, sans-serif;
	line-height: normal;

}

#wrap {
	
	margin: 0 auto; padding: 0 10px 0 10px;
	/* background: transparent url(images/grid.gif) top left repeat-y; */
	overflow: auto;
	
	width: 680px;
	
}

#content {
	
	margin: 0; padding: 0;
	
}


.section {
	
	margin: 2.0em 0; padding: 2.0em 0 1.0em 0;
	width: auto; 
	
	overflow: auto;
	border-top: 3px solid #595959;
	border-bottom: 3px solid #595959;
	
}

.section_head {
	
	width: 220px;
	margin: 0; padding: 0;
	float: left;
	
}

.section_body {
	
	width: 460px;
	margin: 0; padding: 0;
	float: left;
	
}

/* Typography */

	h1#hyalineskies_logo {
		
		width: 220px; height: 51px;
		background: transparent url(images/hyalineskies_logo.png) top left no-repeat;
		overflow: hidden; text-indent: -5000px;
		display: block;
		
	}
	
	h2#product_name {
		
		margin: 0; padding: 0;
		height: 17px; width: 221px;
		background: transparent url(images/gridlock.png) top left no-repeat;
		overflow: hidden; text-indent: -5000px;
		display: block;
	}
	
	h4 {
		
		margin: 0; padding: 0;
		width: 220px;
		
		font-weight: lighter;
		color: #BBDC6C;
		font-size: 2.1em;
		
	}
	
	h4.intro { color: #C4C4C4; }
	
	#content p {
		margin: 0 0 2.0em 0;
		font-size: 1.2em;
		line-height: 1.6em;
	}
	
	.section_body p {
		margin: 0 0 2.0em 0;
		font-size: 1.2em;
		line-height: 1.6em;
		text-align: left;
	}
	
	
	code {
		
		color: #FC8865;
		font-family: Consolas, Andale Mono, Lucida Console, Courier New, monospace;
		font-size: inherit;
		line-height: 1.6em;
		text-align: left;
		
	}
	
		span.param { color: #BBDC6C; }
		
		span.highlight { color: #00AEEF; font-weight: bold; }
		
	ul, ol {
		
		margin: 0 0 2.0em 0; padding: 0;
		list-style-type: none;
	}
	
	ul.attributions { list-style-type: square; }
		
		ul li, ol li {
			
			margin: 0 0 0.5em 1.0em;
			font-size: 1.2em;
			line-height: 1.6em;
			color: #E5E4E4;
			
		}
		
		ul li ul li, ul li ol li {
			font-size: inherit;
			line-height: inherit;
			margin: 0 0 0.5em 1.0em;
			color: #e5e4e4;
		}
		
		ul li.function { margin: 0 0 1.0em 0; }
	
	span.small_head { color: #C4C4C4; font-weight: bold; }
	span.warning_head {color: #00AEEF; font-weight: bold; }
	
	a:link {
		color: #BBDC6C;
		text-decoration: underline;
	}
	
	a:hover, a:active {
		color: #FC8865;
		text-decoration: underline;
	}
	
	a:visited {
		color: #C4C4C4;
		text-decoration: underline;
	}
	
	p#copyright {
		
		margin: 1.0em 0;
		padding: 0; 
		font-size: 1.1em;
		color: #C4C4C4;
		font-weight: normal;
		line-height: 1.3em;
		text-align: center;
		
	}